Repository NetWin/date-time-picker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.scss": [
    "prettier --write"
  ]
}

refactor(linter): fix some linter warnings
  projects/picker/src/lib/date-time/calendar-month-view.component.spec.ts
  projects/picker/src/lib/date-time/calendar-multi-year-view.component.spec.ts
  projects/picker/src/lib/date-time/calendar-year-view.component.spec.ts
Due: eslint --fix, prettier --write

build(release): 19.0.0-rc.6 [skip ci]
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  3d1d2a0e57a31967b6e13d0d395fa339f424db5e
Due: none

build(release): 19.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  4b577a02c30a52afae94c007f7ad684b39e4e826
Due: none

feat(*): add logic to disable Today button when it is not selectable
  projects/picker/src/lib/date-time/calendar.component.html
  projects/picker/src/lib/date-time/calendar.component.ts
  projects/picker/src/sass/picker.scss
Due: eslint --fix, prettier --write

feat(*): improve scss
  projects/picker/src/sass/picker.scss
Due: prettier --write

build(release): 19.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  f34e480c710a5517269eed5e2bb35bdf0b2bc57d
Due: none

build(release): 20.0.0-rc.1 [skip ci]
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  f1c3188bc9302c92eb3c8599077a830aa6873cbf
Due: none

fix(deps): update dependencies
  package-lock.json
  package.json
Due: none

feat(*): convert all components to standalone
  README.md
  angular.json
  package.json
  projects/picker/src/docs/date-time-inline/date-time-inline-demo.component.ts
  projects/picker/src/lib/date-time/calendar-body.component.spec.ts
  projects/picker/src/lib/date-time/calendar-body.component.ts
  projects/picker/src/lib/date-time/calendar-month-view.component.spec.ts
  projects/picker/src/lib/date-time/calendar-month-view.component.ts
  projects/picker/src/lib/date-time/calendar-multi-year-view.component.spec.ts
  projects/picker/src/lib/date-time/calendar-multi-year-view.component.ts
  projects/picker/src/lib/date-time/calendar-year-view.component.spec.ts
  projects/picker/src/lib/date-time/calendar-year-view.component.ts
  projects/picker/src/lib/date-time/calendar.component.spec.ts
  projects/picker/src/lib/date-time/calendar.component.ts
  projects/picker/src/lib/date-time/date-time-inline.component.ts
  projects/picker/src/lib/date-time/date-time-picker-container.component.ts
  projects/picker/src/lib/date-time/date-time.module.ts
  projects/picker/src/lib/date-time/timer-box.component.ts
  projects/picker/src/lib/date-time/timer.component.spec.ts
  projects/picker/src/lib/date-time/timer.component.ts
  src/app/app.component.ts
Due: eslint --fix, prettier --write

build(release): 20.0.0-rc.2 [skip ci]
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  6575d68e57d1558da25eac14eb90feda7c553f83
Due: none

build(release): 20.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  edc6124d2ef23adc42481ba607818701d6fe9d61
Due: none

fix(timer-box): update input value when changing values via arrow keys
  projects/picker/src/lib/date-time/timer-box.component.html
  projects/picker/src/lib/date-time/timer-box.component.ts
Due: eslint --fix, prettier --write

refactor(timer-box): convert timer box to use signal based APIs
  projects/picker/src/lib/date-time/timer-box.component.html
  projects/picker/src/lib/date-time/timer-box.component.ts
Due: eslint --fix, prettier --write

build(release): 20.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  c8c438e5007556a3dec50c2853e955825ae28441
Due: none

feat(*): update Angular to v21
  package-lock.json
  package.json
  src/main.ts
Due: eslint --fix, prettier --write

build(release): 21.0.0-rc.1 [skip ci]
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  b51fab41a84df93135026488fe257b0c0f2f5fda
Due: none

refactor(lib): update required angular version in the projects package.json file
  projects/picker/package.json
Due: none

build(release): 21.0.0-rc.2 [skip ci]
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  5dd1ab97a09248d525406dbbe27d8820a0b6d32e
Due: none

Notes added by 'git notes add'
  61d876c1c7d6b2b134d88513f424f8bb26f982d9
Due: none

build(release): 21.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

build(release): 22.0.0 [skip ci]
  CHANGELOG.md
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  f1a3d0c41b0396990752140b5208596acff35d32
Due: none
