Repository NetWin/date-time-picker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(styles): remove box shadow from dt-inline-container
  projects/picker/src/sass/picker.scss
Due: prettier --write

build(release): 19.0.0-rc.4 [skip ci]
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  649e5c8889fe563229b55b24ae90588bf88aa8f6
Due: none

feat(date-time-inline): add range limit option for range selection mode
  projects/picker/src/lib/date-time/date-time-inline.component.ts
Due: eslint --fix, prettier --write

refactor(date-time-inline): multiline comment inconsistency
  projects/picker/src/lib/date-time/date-time-inline.component.ts
Due: eslint --fix, prettier --write

refactor(date-time-inline): rename oldMaxDate and add comments to logic
  projects/picker/src/lib/date-time/date-time-inline.component.ts
Due: eslint --fix, prettier --write

build(release): 18.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  db1287368765601341e899ff43aad83f93389b4d
Due: none

feat(calendar): add button to jump to and select today's date
  projects/picker/src/lib/date-time/calendar.component.html
  projects/picker/src/lib/date-time/calendar.component.ts
  projects/picker/src/lib/date-time/date-time-inline.component.ts
  projects/picker/src/lib/date-time/date-time-picker-container.component.html
  projects/picker/src/lib/date-time/date-time-picker-intl.service.ts
  projects/picker/src/sass/picker.scss
Due: eslint --fix, prettier --write

refactor(calendar): fix failing test
  projects/picker/src/lib/date-time/date-time-picker-container.component.html
Due: eslint --fix, prettier --write

refactor(calendar): fix failing test
  angular.json
  projects/picker/src/lib/date-time/date-time-picker-container.component.html
Due: eslint --fix, prettier --write

refactor(calendar): add type=button to Today button
  angular.json
  projects/picker/src/lib/date-time/calendar.component.html
Due: eslint --fix, prettier --write

refactor(date-time-inline): add booleanAttribute transformer
  projects/picker/src/lib/date-time/calendar.component.ts
  projects/picker/src/lib/date-time/date-time-inline.component.html
  projects/picker/src/lib/date-time/date-time-inline.component.ts
  projects/picker/src/lib/date-time/date-time-picker-container.component.html
  projects/picker/src/lib/date-time/date-time-picker-container.component.ts
Due: eslint --fix, prettier --write

refactor(date-time-inline): changes from review
  projects/picker/src/lib/date-time/calendar.component.html
  projects/picker/src/lib/date-time/calendar.component.ts
  projects/picker/src/lib/date-time/date-time-picker-container.component.ts
Due: eslint --fix, prettier --write

build(release): 18.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  db99cfb803cedd7b75a6788f8d2ff49ab510b437
Due: none

feat(*): update Angular to version 19
  .gitignore
  .lintstagedrc
  eslint.config.js
  package-lock.json
  package.json
  projects/picker/src/docs/date-time-inline/ng-doc.page.ts
  projects/picker/src/lib/date-time/adapter/date-time-adapter.class.ts
  projects/picker/src/lib/date-time/adapter/native-date-time-adapter.class.ts
  projects/picker/src/lib/date-time/adapter/unix-timestamp-adapter/unix-timestamp-date-time-adapter.class.ts
  projects/picker/src/lib/date-time/calendar-body.component.spec.ts
  projects/picker/src/lib/date-time/calendar-body.component.ts
  projects/picker/src/lib/date-time/calendar-month-view.component.spec.ts
  projects/picker/src/lib/date-time/calendar-month-view.component.ts
  projects/picker/src/lib/date-time/calendar-multi-year-view.component.spec.ts
  projects/picker/src/lib/date-time/calendar-multi-year-view.component.ts
  projects/picker/src/lib/date-time/calendar-year-view.component.spec.ts
  projects/picker/src/lib/date-time/calendar-year-view.component.ts
  projects/picker/src/lib/date-time/calendar.component.spec.ts
  projects/picker/src/lib/date-time/calendar.component.ts
  projects/picker/src/lib/date-time/date-time-inline.component.ts
  projects/picker/src/lib/date-time/date-time-picker-container.component.ts
  projects/picker/src/lib/date-time/date-time-picker-input.directive.ts
  projects/picker/src/lib/date-time/date-time-picker-trigger.directive.ts
  projects/picker/src/lib/date-time/date-time-picker.component.spec.ts
  projects/picker/src/lib/date-time/date-time-picker.component.ts
  projects/picker/src/lib/date-time/numberedFixLen.pipe.ts
  projects/picker/src/lib/date-time/timer-box.component.ts
  projects/picker/src/lib/date-time/timer.component.spec.ts
  projects/picker/src/lib/date-time/timer.component.ts
  projects/picker/src/lib/dialog/dialog-config.class.ts
  projects/picker/src/lib/dialog/dialog-container.component.ts
  projects/picker/src/lib/dialog/dialog-ref.class.ts
  projects/picker/src/lib/dialog/dialog.service.ts
  src/styles.scss
Due: eslint --fix, prettier --write

refactor(docs): use dedicated demo component
  projects/picker/src/docs/date-time-inline/date-time-inline-demo.component.html
  projects/picker/src/docs/date-time-inline/date-time-inline-demo.component.scss
  projects/picker/src/docs/date-time-inline/date-time-inline-demo.component.ts
  projects/picker/src/docs/date-time-inline/index.md
  projects/picker/src/docs/date-time-inline/ng-doc.page.ts
Due: eslint --fix, prettier --write

refactor(*): migrate components to control flow syntax
  projects/picker/src/lib/date-time/calendar-body.component.html
  projects/picker/src/lib/date-time/calendar-month-view.component.html
  projects/picker/src/lib/date-time/calendar.component.html
  projects/picker/src/lib/date-time/date-time-picker-container.component.html
  projects/picker/src/lib/date-time/timer-box.component.html
  projects/picker/src/lib/date-time/timer.component.html
Due: eslint --fix, prettier --write

refactor(*): remove import of `CommonModule`
  projects/picker/src/lib/date-time/calendar-body.component.html
  projects/picker/src/lib/date-time/date-time-picker-container.component.html
  projects/picker/src/lib/date-time/date-time.module.ts
Due: eslint --fix, prettier --write

refactor(*): update project structure, fix many linter warnings, migrate outputs
  angular.json
  package-lock.json
  package.json
  projects/picker/src/docs/date-time-inline/date-time-inline-demo.component.ts
  projects/picker/src/lib/date-time/calendar-body.component.spec.ts
  projects/picker/src/lib/date-time/calendar-body.component.ts
  projects/picker/src/lib/date-time/calendar-month-view.component.spec.ts
  projects/picker/src/lib/date-time/calendar-month-view.component.ts
  projects/picker/src/lib/date-time/calendar-multi-year-view.component.spec.ts
  projects/picker/src/lib/date-time/calendar-multi-year-view.component.ts
  projects/picker/src/lib/date-time/calendar-year-view.component.spec.ts
  projects/picker/src/lib/date-time/calendar-year-view.component.ts
  projects/picker/src/lib/date-time/calendar.component.spec.ts
  projects/picker/src/lib/date-time/calendar.component.ts
  projects/picker/src/lib/date-time/date-time-inline.component.ts
  projects/picker/src/lib/date-time/date-time-picker-input.directive.ts
  projects/picker/src/lib/date-time/date-time-picker-trigger.directive.ts
  projects/picker/src/lib/date-time/date-time-picker.component.spec.ts
  projects/picker/src/lib/date-time/date-time-picker.component.ts
  projects/picker/src/lib/date-time/date-time.class.ts
  projects/picker/src/lib/date-time/timer-box.component.ts
  projects/picker/src/lib/date-time/timer.component.spec.ts
  projects/picker/src/lib/date-time/timer.component.ts
  projects/picker/src/public_api.ts
  projects/picker/src/test-helpers.ts
  projects/picker/src/test.ts
  projects/picker/tsconfig.lib.json
  projects/picker/tsconfig.lib.prod.json
  projects/picker/tsconfig.spec.json
  tsconfig.json
Due: eslint --fix, prettier --write

fix(*): update Angular version in library package.json
  projects/picker/package.json
Due: none

ci(*): update commit analyzer config
  .releaserc.cjs
Due: none

build(deps): update dependencies
  package-lock.json
  package.json
Due: none

build(release): 19.0.0-rc.1 [skip ci]
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  40c2e5c97f7e2b545c54b670345172abb9ef8ad4
Due: none

build(release): 19.0.0-rc.2 [skip ci]
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  a99a5094425fd6a783f5a6b15be780747493e258
Due: none

build(release): 19.0.0-rc.3 [skip ci]
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  7d8ecc063a5c157a1c8a1128f1129bfdeeba8890
Due: none

Notes added by 'git notes add'
  787a3280a6c64f445e0cd425b2bee043e16e118b
Due: none

build(release): 19.0.0-rc.5 [skip ci]
  package-lock.json
  package.json
  projects/picker/package.json
Due: none

Notes added by 'git notes add'
  0e18c19d096c3d1914970853cda690df699ac072
Due: none

refactor(docs): use linkedSignal for the value within inline demo component
  projects/picker/src/docs/date-time-inline/date-time-inline-demo.component.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.html)
  prettier --write: ((any of: *.ts) or (any of: *.html)) or (any of: *.scss)
